

html, body {
    background-color: #4158D0;
    background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    display: flex;
    justify-content: center;
}

#startMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



#nameInput {
    background: transparent;
    border-radius: 10px;
    font-weight:bolder;
}



#numberOfGames {
    display: inline;
    margin: auto;
    width: 35px;
    background: transparent;
    border-radius: 10px;
    font-weight:bolder;
}

#startButton {
    margin: 20px;
    display: inline-flex;
    flex: 1;
    justify-content: center;
}

#startDivNumGames {
    display: flex;
    margin: auto;
    gap: 10px;
    
}

#startDivNumGames > p {
    font-weight: bold;
}

#girlfriend {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

#girlfriendPic {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

#playerChoices {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
    justify-content: center;
    margin: 0 30px;

}

#playerChoices > div > img {
    border-radius: 20px;
    display: flex;
    flex: 1;
    margin-bottom: 5px;
    height: 170px;
}

#playerChoices > div{
    display: flex;
    flex-direction: column;

}

#playerChoices > div > button {
    background-color: #C850C0;
    border-radius: 10px;
    border-width: 3px;
}

#scoreboard {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    height: 100px;
}

#gameDOM {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#gameDOM > p {
    display: flex;
    justify-content: center;
}

#playerScoreboard {
  display: flex;
  flex: 1; 
  flex-direction: column;
}

#roundNumber {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 6px;
    color: #4158D0
}

#computerScoreboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: end;
}

#otherThanScoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results {
    display: flex;
    flex-direction: column;
}

#playerName, #computerName {
    font-size: larger;
    margin-bottom: 0;
}

#playerScore, #computerScore {
    margin-top: 0px;
    font-size: 40px;
}

#roundNumber {
    font-size: 30px;
    font-style: italic;
}


#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#declareWinnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}

#declareWinnerDiv > button {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    background-color: #FFCC70;
    font-weight: bolder;
}

#declareWinnerDiv > img {
    height: 400px;
}